.digitbutton {
  background-color: var(--digit-op-background-color);
  box-shadow: 0px 4px var(--digit-op-boxshadow-color);
  border-radius: 10px;
  color: var(--digit-op-text-color);
  &:hover {
    background-color: var(--digit-op-hover);
  }
}
