.operationbutton {
  background-color: var(--key-nums-100);
  box-shadow: 0px 4px var(--key-nums-200);
  border-radius: 10px;
  color: var(--text-100);
  &:hover {
    background-color: var(--hover-nums-100);
  }
}
